@charset "UTF-8";
/* RESET */
/* selector universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Estilos generales */
body {
  background-color: whitesmoke; }

header {
  padding: 10px;
  text-align: center;
  background-color: violet;
  font-family: 'Playfair Display', serif; }

a {
  text-decoration: none;
  color: black; }

/* tamaño de las imagenes*
Les coloco un porcentaje para evitar el scroll horizontal
*/
img {
  width: 90%;
  height: 90%; }

/* estilos de home */
main {
  text-align: center;
  font-family: 'Playfair Display', serif; }
  main h1 {
    margin-bottom: 20px; }
  main p {
    font-size: 25px;
    margin-bottom: 20px; }

/* estilos reusables 
Se utilizan en varios html
*/
/* Estilos de section */
.card-pablo-panel {
  display: flex;
  flex-direction: column; }
  .card-pablo-panel h2 {
    text-align: center;
    margin: 1rem; }
  .card-pablo-panel .card-pablo, .card-pablo-panel .card-pablo-extra {
    background-color: beige;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2%;
    color: black; }
    .card-pablo-panel .card-pablo h3, .card-pablo-panel .card-pablo-extra h3 {
      margin-bottom: 1rem;
      color: black; }
  .card-pablo-panel .card-pablo-extra {
    display: none; }

/* Clase .img-descripcion-pablo */
.img-descripcion-pablo {
  display: flex;
  flex-direction: column; }
  .img-descripcion-pablo p {
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem; }

/*Tablet*/
@media screen and (min-width: 600px) {
  .card-pablo-panel {
    flex-direction: row; } }

/* Desktop */
@media screen and (min-width: 1024px) {
  /* Propiedades de clase .img-descripcion*/
  .img-descripcion-pablo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "imagen descripcion";
    align-items: center; }
    .img-descripcion-pablo img {
      grid-area: imagen;
      margin-bottom: 0.2rem;
      transition: 1s; }
    .img-descripcion-pablo img:hover {
      transform: scale(1.1, 1.1); }
    .img-descripcion-pablo p {
      grid-area: descripcion; }
  /* Propiedades de las clases .card-pablo */
  .card-pablo-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "titulo titulo titulo"; }
    .card-pablo-panel h2 {
      grid-area: titulo; }
    .card-pablo-panel .card-pablo, .card-pablo-panel .card-pablo-extra {
      transition: 1s; }
    .card-pablo-panel .card-pablo-extra {
      transition: 1s;
      display: block; }
    .card-pablo-panel .card-pablo:hover, .card-pablo-panel .card-pablo-extra:hover, .card-pablo-panel .card-pablo-extra:hover {
      transform: scale(1.1, 1.1); } }
