/* RESET */

/* selector universal */

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    
}

/* Estilos generales */
body {
    background-color: whitesmoke
    
}

header{
    padding: 10px;
    text-align: center;
    background-color: violet;
    font-family: 'Playfair Display', serif;
}

/* Viejos estilos de mi nav
header nav {
    margin-top: 20px;
}

header nav ul li{
    background-color: coral;
    display: inline-block;
    padding: 10px;
}

*/

a{
    text-decoration: none;
    color: black;
}



/* estilos de home */
main {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

main h1 {
    margin-bottom: 20px;
}

main p {
    font-size: 25px;
    margin-bottom: 20px;
}


/* estilos reusables 
Se utilizan en varios html
*/

/* Estilos de section */
.card-pablo-panel {
    display: flex;
    flex-direction: column;
}

.card-pablo-panel h2 {
    text-align: center;
    margin: 1rem;
}

section .card-pablo, section .card-pablo-extra {
    background-color: beige;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2%;
    
}

section .card-pablo h3, section .card-pablo-extra {
    margin-bottom: 1rem;
}

section .card-pablo-extra {
    display: none;
}

/* Clase .img-descripcion-pablo */
.img-descripcion-pablo {
    display: flex;
    flex-direction: column;
    
}


.img-descripcion-pablo p {
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
}



/* Propiedades de mq */
/*Tablet*/
@media screen and (min-width:600px) {
     
    
    .card-pablo-panel {
        flex-direction: row;
    }
}

/* Desktop */
@media screen and (min-width:1024px) {
    
    /* Propiedades de clase .img-descripcion*/
    .img-descripcion-pablo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
        "imagen descripcion"
        ;

        align-items: center;
    }  

    
    
    .img-descripcion-pablo img {
        grid-area: imagen;
        margin-bottom: 0.2rem;
        transition: 1s;
    }

    .img-descripcion-pablo img:hover {
        transform: scale(1.1, 1.1);
    }
    
    /*
    .img-contexto-pablo {
        grid-area: imagen;
        margin-bottom: 0.2rem;
        transition: 1s;    
        position: relative;
    }

    .img-contexto-pablo:hover {
        transform: scale(1.1, 1.1);
        position: relative;
    }

    .img-contexto-pablo:hover .texto-img-pablo {
        display: block;
        
        position: absolute;
        
        border-radius: 6px;
        /*
        top: 50%;
        left: 50%;
        
        top: 25px;
        left: 25pxgit;
        /*
        transform: translate(-50%, -50%);
        /*
        opacity: 0;
        transition: opacity 0.3s; 
        background-color: rgba(55, 54,54, 0.7 );
        color: white;
        
        
    }
    */

    .img-descripcion-pablo p {
        grid-area: descripcion;
    }

       

    /* Propiedades de las clases .card-pablo */
    section .card-pablo-extra {
        display: block;
    } 

    
    .card-pablo-panel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "titulo titulo titulo";
    }

    .card-pablo-panel h2 {
        grid-area: titulo;
    }

    .card-pablo, .card-pablo-extra {
        transition: 1s;
    }

    .card-pablo:hover, .card-pablo-extra:hover {
        transform: scale(1.1, 1.1);
    }
}




