@import "extras/variables";
@import "extras/mixin";


/* RESET */

/* selector universal */

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    
}

/* Estilos generales */
body {
    background-color: whitesmoke
    
}

header{
    padding: 10px;
    text-align: center;
    background-color: $color-fondo-header;
    color: $color-texto-header;
    font-family: 'Playfair Display', serif;
}

footer {
    @extend header;
    display: flex;
    flex-direction: column;
    .logo-footer {
        display: none;
    }
}


a{
    text-decoration: none;
    color: black;
}

/* tamaño de las imagenes*
Les coloco un porcentaje para evitar el scroll horizontal
*/

img {
    max-width: 90%;
}

/* tamaño de los iframes*
Les coloco un porcentaje para evitar el scroll horizontal
*/

iframe {
    max-width: 90%;
    margin: 5px;
    
}



/* estilos de home */
main {
    text-align: center;
    font-family: 'Playfair Display', serif;
    h1 {
        margin-bottom: 20px;    
    }
    p {
        font-size: 25px;
        margin-bottom: 20px;    
    }
}



/* estilos reusables 
Se utilizan en varios html
*/

/* Estilos de section */
.tarjeta-panel {
    display: flex;
    flex-direction: column;
    h2 {
        text-align: center;
        margin: 1rem;    
    }

   .tarjeta {
        background-color: $color-fondo-tarjeta;
        margin: 1rem;
        padding: 1rem;
        border-radius: 2%;
        color: $color-texto-tarjeta;

        h3 {
            margin-bottom: 1rem;
            color: $color-titulo-tarjeta;    
        }
       
        
    }

    .tarjeta-extra {
        @extend .tarjeta;
        display: none;
    }
}



/* Clase .img-descripcion */
.img-descripcion {
    display: flex;
    flex-direction: column;
    

    p {
        font-size: 1rem;
        padding: 1rem;
        margin: 1rem;
    }
    
}

/* Clases anticipo */
.anticipo-panel {
    display: flex;
    flex-direction: column;

    .anticipo {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;
        border-radius: 2%;
        box-shadow: 5px 10px 5px $color-sombra-anticipo;
        text-align: center;
        background-color: $color-fondo-anticipo;
        color: $color-descripcion-anticipo;

        .anticipo-titulo {
            font-size: 2rem;
            color: $color-titulo-anticipo;
        }


        .anticipo-descripcion {
            font-size: 1rem;
            padding: 0.5rem;
            margin: 1rem;
            color: $color-descripcion-anticipo;
            
        }
        
        .anticipo-boton {
            display: inline-block;
            margin: auto;
            padding: 0.3rem;
            background: linear-gradient($color-boton-anticipo1, $color-boton-anticipo2);
            color: white;
            font-size: 1.1rem;
            border: 2px solid black;
            border-radius: 5%;

            
        }

        .anticipo-boton:hover {
            @include destacar(1.1, 1.1);
        }

    }

}

@import "extras/formulario";
@import "extras/tablet";
@import "extras/desktop";
