
/* Desktop */
@media screen and (min-width:1024px) {

    /* Propiedades de body*/
    .full-pantalla {
        //display: flex; 
        //flex-direction: column; 
        min-height: 80vh;
    }

    /* Propiedades de clase .img-descripcion*/
    .img-descripcion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
        "imagen descripcion"
        ;

        align-items: center;

        img {
            grid-area: imagen;
            margin-bottom: 0.2rem;
            transition: 1s; 
            
        }

        img:hover {
            @include destacar(1.1, 1.1);
        }

        p {
            grid-area: descripcion;    
        }

        
    }  

           

    /* Propiedades de las clases .tarjeta */
        
    .tarjeta-panel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "titulo titulo titulo";

        h2 {
            grid-area: titulo;    
        }

        .tarjeta {
            transition: 1s;
        }
        .tarjeta-extra {
            transition: 1s;
            display: block;
        }

        .tarjeta:hover, .tarjeta-extra:hover {
            @include destacar(1.1, 1.1);
        }
    }

    /* Propiedades de .contacto */
    
    .contacto {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "titulo titulo"
        "formulario comunicate";
        
        h1 {
            grid-area: titulo;
        }

        .comunicate {
            grid-area: comunicate;
        }

        .mandame-form {
            grid-area: formulario;
        }

    }
    
    /*Propiedades de clases anticipo */
    .anticipo-panel {
        display: flex;
        flex-direction: row;

        .anticipo {
            display: grid;
            
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 20% 70% 10%;
            grid-template-areas: 
            "anticipo titulo"
            "anticipo descripcion"
            "anticipo boton";
            
            
            .anticipo-titulo {
                grid-area: titulo;
            }

            .anticipo-vista {
                grid-area: anticipo;
            }

            .anticipo-descripcion {
                grid-area: descripcion;
            }

            .anticipo-boton {
                grid-area: boton;
            }
        }
        
    }
      

    /* Propiedades del footer  */
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "logo derechos redes";
        

        .logo-footer {
            grid-area: logo;
            display: flex;
        }

        .derechosreservados {
            grid-area: derechos;
            display: flex;
            flex-direction: column-reverse;
        }

        .redessociales {
            grid-area: redes;
        }

       
        
    }
}