/* estilos del formulario */

.comunicate {
    margin: 30px;
}

.formulario {
    background-color: $color-fondo-tarjeta;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 2%;
    color: $color-texto-tarjeta;
    border: 2px solid $color-texto-tarjeta;
    box-shadow: 5px 10px 5px $color-sombra-anticipo;
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    
    
    
    .form-label-input-panel {
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 5px;
    }

    textarea {
        max-width: 90%;
    }

}