//Colores de la web
$color-fondo-header: #81B29A;
$color-texto-header: black;

//Colores de las cards

$color-fondo-tarjeta: #F4F1DE;
$color-titulo-tarjeta: black;
$color-texto-tarjeta: black;

//Colores de los anticipos
$color-fondo-anticipo: #F2CC8F;
$color-titulo-anticipo: black;
$color-descripcion-anticipo: black;
$color-boton-anticipo1: #c5e7d6;
$color-boton-anticipo2: #81B29A;
$color-sombra-anticipo: #3D405B;